<section id="search-bar-section">
    <p>User Search: </p>
    <input type="text" name="member-search" id="search-input" placeholder="Last Name or Account Number">
    <input class="button-primary" type="button" value="search" name="search-button" id="member-search-button">
    <script src="../js/components/teller/memberSearch.js" type="module"></script>
</section>