<section id="welcome-bar-section">
    <button id="home-button">Home</button>
    <section id="welcome-bar">
        <p id="bank-name">Mr.Big's Bank</p>
        <p id="welcome-name"><i>Welcome <%= firstName %> <%= lastName %>!</i></p>
        <p id="page-name"><%= pageName %></p>
    </section>
    <button id="logout-button">Logout</button>
    <script src="../js/components/teller/tellerWelcomeBar.js" type="module"></script>
</section>
